<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:p="http://www.springframework.org/schema/p"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <!-- BFPP -->
    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer"
          p:location="connection.properties"/>
    <!-- BPP -->
    <bean class="ru.itpark.app.Processor"/>
    <bean id="gson" class="com.google.gson.Gson"/>
    <bean id="xmlClient" class="ru.itpark.xml.XmlRequestClient"
          p:url="${url}"
          p:gson-ref="gson"/>

</beans>